@page "/upload"
@rendermode InteractiveServer
@using System.Net.Http.Headers
@using SmartDoc.WebApp.Components.Modals
@using SmartDoc.WebApp.Models
@inject HttpClient Http

<PageTitle>Upload File & Analyze</PageTitle>

<h2 class="mb-2">Cargar y Analizar Archivo</h2>

@if (isLoading)
{
    <p>Analizando documento...</p>
}
else
{
    <InputFile OnChange="LoadFile" class="form-control mb-2" disabled="@isLoading" @key="@(inputFileKey)">Cargar</InputFile>

    @if (selectedFile != null)
    {
        <button @onclick="AnalyzeFile" class="btn btn-primary mr-2" disabled="@isLoading"><i class="bi bi-file-earmark-break"></i> Analizar</button>
        <button @onclick="Cancel" class="btn btn-secondary"><i class="bi bi-x-lg"></i> Cancelar</button>
    }

    @if (errors.Count > 0)
    {
        <div class="error-messages mt-2">
            <h3>@(errors.Count > 1 ? "Errores" : "Error")</h3>
            <ul>
                @foreach (var error in errors)
                {
                    <li>@error</li>
                }
            </ul>
        </div>
    }

    @if (invoiceAnalysisResult.Success)
    {
        <InvoiceModal @ref="InvoiceModalRef" InvoiceDetails="@invoiceAnalysisResult"></InvoiceModal>
        <button @onclick="OpenModal" class="btn btn-primary mt-2">Mostrar Factura</button>
    }

}

@code {
    private Guid inputFileKey = Guid.NewGuid();
    private long maxFileSize = 1024 * 1024 * 3; //3MB
    private string[] allowedFileTypes = ["application/pdf", "image/jpg", "image/jpeg", "image/png"];
    private bool isLoading = false;
    private List<string> errors = new();
    private IBrowserFile? selectedFile;
    private InvoiceAnalysisResult invoiceAnalysisResult = new InvoiceAnalysisResult() { Success = false };
    private InvoiceModal InvoiceModalRef { get; set; }
    private bool showModal = false;

    private void LoadFile(InputFileChangeEventArgs e)
    {
        isLoading = true;
        selectedFile = null;
        errors.Clear();

        if (e.FileCount > 1)
        {
            errors.Add($"Estas intentando agregar {e.FileCount} archivos. Solo puedes agregar un archivo a la vez.");
            return;
        }

        var file = e.File;
        var fileSize = file.Size;
        var fileType = file.ContentType;

        if (fileSize > maxFileSize)
        {
            errors.Add($"El tamaño del archivo es de {fileSize} excede el límite de {maxFileSize}.");
            isLoading = false;
            return;
        }

        if (!allowedFileTypes.Contains(fileType))
        {
            errors.Add($"Estas intentando cargar un archivo de tipo {fileType} y solo se permiten archivos PDF, PNG o JPG.");
            isLoading = false;
            return;
        }

        selectedFile = file;
        isLoading = false;
    }

    private async Task AnalyzeFile()
    {
        isLoading = true;
        errors.Clear();

        if (selectedFile is null)
        {
            errors.Add("Por favor, selecciona un archivo antes de analizar.");
            isLoading = false;
            return;
        }

        try
        {
            using var content = new MultipartFormDataContent();

            var fileContent = new StreamContent(selectedFile.OpenReadStream(maxFileSize));
            fileContent.Headers.ContentType = new MediaTypeHeaderValue(selectedFile.ContentType);
            content.Add(fileContent, "file", selectedFile.Name);

            var response = await Http.PostAsync("https://localhost:7004/api/File", content);

            if (response.IsSuccessStatusCode)
            {
                var invoiceAnalysisResponse = await response.Content.ReadFromJsonAsync<InvoiceAnalysisResult>();

                if (invoiceAnalysisResponse is not null && invoiceAnalysisResponse.DocumentType == DocumentType.Invoice)
                {
                    invoiceAnalysisResult = invoiceAnalysisResponse;
                    invoiceAnalysisResult.Success = true;

                    //ClearFile();
                }
            }
            else
            {
                selectedFile = null;
                var errorResponse = await response.Content.ReadFromJsonAsync<FileErrorResult>();
                var errorMessage = errorResponse?.ErrorMessage ?? "Un error desconocido ocurrió al procesar el archivo.";
                errors.Add(errorMessage);
            }
        }
        catch (Exception ex)
        {
            errors.Add($"Error: {ex.Message}");
            selectedFile = null;
        }
        finally
        {
            isLoading = false;
        }
    }

    private void ClearFile()
    {
        selectedFile = null;
        errors.Clear();
        inputFileKey = Guid.NewGuid();
    }

    private void Cancel()
    {
        ClearFile();
        invoiceAnalysisResult = new();
    }

    private void OpenModal() => InvoiceModalRef.Open();
}
